* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

/*Typography*/

html {
    font-family: korolev-compressed, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4em;
}

h1 {
    font-size: 2.986rem;
    line-height: 4.265em;
    margin: 1rem;
}
h2 {
    font-size: 2.488rem;
    line-height: 3.554em;
    margin: 1rem;
}

h3 {
    font-size: 1.44rem;
    line-height: 2.057em;
}

/*Layout*/

header {
    margin-bottom: 2rem;
    position: fixed;
    display: flex;
    left: 0;
    right: 0;
    z-index: 1000;
}

header, footer {
    background-color: #60808A;
    color: #ffffff;
    padding: 2rem 0;
}

main {
    padding: 1rem 0;
}

article {
    padding-bottom: 2rem;
    width: 100%;
}

.image {
    background-color: #59607C;
    display: block;
    max-width: 50rem;
}

.description {
    background-color: #414A69;
}