* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Typography*/
html {
    font-family:freight-big-pro, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4em;
}

h1 {
    font-family: korolev-compressed, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 2.986rem;
    width: 20rem;
    margin: 1rem auto;
}

h2 {
    font-family: korolev-compressed, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 2.488rem;
    line-height: 1.4em;
    color: #000000;
}

h3 {
    font-family: korolev-compressed, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 1.44rem;
    line-height: 1.4em;
    margin: 1rem;
}

/*Layout*/

header, main, footer {
    color: #ffffff;
    max-width: 55rem;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .65rem;
}

header {
    background-color: #60808A;
    margin-bottom: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}

main {
    padding: 7.5rem 0;
}

article {
    padding-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    width: 100%;
}

.image {
    background-color: #59607C;
    display: inline-block;
    width: 75%;
    padding: 1rem 1rem;
}

.description {
    background-color: #414A69;
    width: 25%;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/*Navigation Flexbox*/

nav {
    width: 25%;
}

nav li {
    font-size: 1rem;
    margin: 1rem;
}

nav ul{
    list-style-type: none;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}