* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Typography*/
html {
    font-family: korolev-compressed, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4em;
}

h1 {
    font-size: 2.986rem;
    line-height: 4.265em;
    margin: 1rem;
}
h2 {
    font-size: 2.488rem;
    line-height: 3.554em;
    margin: 1rem;
}

h3 {
    font-size: 1.44rem;
    line-height: 2.057em;
}

/*Layout*/

header, main, footer {
    background-color: #60808A;
    color: #ffffff;
    max-width: 55rem;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .65rem;
}

header {
    margin-bottom: 2rem;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
}

main {
    padding: 1rem 0;
}

article {
    padding-bottom: 2rem;
    width: 100%;
}

.image {
    background-color: #59607C;
    display: block;
    width: 50%;
}

.description {
    background-color: #414A69;
}

/*Navigation Flexbox*/

header.nav {
    background-color: #d3d3d3;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 100%;
    justify-content: space-around;
}

nav li {
    font-size: 1rem;
    width: calc(33.33% - 1rem);
    justify-content: space-evenly;
    margin: 1rem;
}

nav ul{
    list-style-type: none;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}